<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dahanis.main" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="A_A"
            android:value="1" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoadImageActivity" />
        <activity android:name=".activity.LoadImageAfkImageViewActivity"/>
        <activity android:name=".activity.LoadNetAfkImageViewActivity" />
        <activity android:name=".activity.NetListViewActivity" />
        <activity android:name=".activity.DhNetListViewActivity" />
    </application>

</manifest>
